@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.bg-dsc-hero {
  background: url("../../src/images/dsc.jpeg") center center no-repeat;
  background-color: black;
  background-attachment: fixed;
}

.bg-dsc-space {
  background: url("../../src/images/dsc-space.jpeg") center center no-repeat;
  background-color: black;
  background-attachment: fixed;
}

.bg-dsc-atraks {
  background: url("../../src/images/atraks-1.jpeg") center center no-repeat;
  background-color: black;
  background-attachment: fixed;
}

.bg-dsc-cover {
  background: url("../../src/images/dsc-cover.jpeg") center center no-repeat;
  background-color: black;
}

.bg-vog-cover {
  background: url("../../src/images/vog-cover.jpg") center center no-repeat;
  background-color: black;
}

.bg-raid-cover {
  background: url("../../src/images/raid-cover.jpeg") center center no-repeat;
  background-color: black;
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: #ffffff;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.sidebar-closed {
  background: #000;
  transition: 1s;
  /* display: none; */
}

.sidebar-open {
  background: #000;
  transition: 1s;
}

.sidebar-closed a {
  /* display: none; */
  opacity: 0;
  transition: 0.5s;
}

.sidebar-open a {
  text-align: center;
  opacity: 1;
  transition: 0.5s;
}
